
.container{
    display: flex;
    flex-direction: column;
    flex: 100%;       
}
.main{
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 100%;
    background-color:green;
    border: 4px black solid;
    
    
}
.main div{
    border-bottom: 1px black solid;
    flex: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.main img {
    width: 60%;
    padding: 30;  
    
}
