
.header{
    display: flex;
    justify-content: center;
    width:  100%;
    margin: none;
    padding-top: 20px ;
    border: 4px black solid ;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}
/*hamburgerMenu*/
.header button {
    display: flex;
    order: 1;
    justify-content: start;
    align-items: flex-start;
    pointer-events: painted;
    padding: none;
    height: 10%;
    background-color: rgb(149, 141, 155);
}
/* Tittle*/
.header h1{
    display: flex;
    order: 2;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    vertical-align: center;
} 
.header div{
    display: flex;
    flex-direction: row;
}
/* Navigation Bar*/
.navbar {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #333;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    padding:10px 0px 10px 0px ; 
}   
.navbar li{
    display: flex;
    justify-content: space-between;
    text-align: center; 
    flex-wrap: wrap; 
   
}
.navbar a {
    display: flex;
    flex-wrap: wrap; 
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center; 
}
.navbar a:hover {
    border-color: red;
    border-style: solid;
    border-width: 0.2px;
}
.button {
    display: flex;
}