/*Secondary News*/
.sidebarl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 100%;  
    margin: 0px 8px 0px 8px ;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.4);
    transition: 0.8s;
    background-color: white;
}
.sidebarl ul{
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    padding:10px 0px 10px 0px ; 
    font-family: "Courier New", Courier, monospace;
}  
.sidebarl h3{
    justify-content: center;
    font-weight: 800;
    color:black;
    font-size: 12px;
}
.sidebarl p {
    text-align: center;
    display:none;
    font-size: 12px;
} 
.sidebarl li{
    display: flex;
    text-align: center; 
    flex-wrap: wrap;
    margin: 10px;   
}
.sidebarl a{
    display: flex;
    color: black;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    flex-wrap: wrap;    
}
.sidebarl a:hover{
    border-color: grey;
    border-style: solid;
    border-width: 0.2px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
    transition: 0.8s;
}
