/*@media (min-width: 480px) {
@media (min-width: 768px) {
@media (min-width: 900px) {
@media (min-width: 1024px) {
@media (min-width: 1200px) {
*/
.sidebarr {
    background-color: rgb(143, 220, 20);
    border: 2px white solid;
    width: 100%;
    order:3;
}

.sidebarr img {
    width: 100%;
}